<article class="post-entry">
  
  {{ if isset .Params "cover" }}
    <img class="post-cover" src="{{ .Params.cover }}" alt="{{ .Title }}">
  {{ end }}
  <div class="post-summary">
    <header class="post-header">
    <h3 class="post-title"><a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a></h3>
 
  </header>
   <p class="post-meta">@{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} · {{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} min read</p>

    {{ .Summary | plainify | htmlUnescape }}</div>
  <footer class="post-footer">
    <a class="read-more" href="{{ .Permalink }}">Read More →</a>
  </footer>
</article>

